*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #5268fc 0%, #c7c6ff 100%);
    color: #333;
    min-height: 100vh;
    padding-bottom: 40px;
    
}

header{
    background: rgba(0,0,0,0.2);
    color: white;
    text-align: center;
    padding: 40px 20px;
    margin-bottom: 40px;
}

header h1{
    font-size: 2.5rem;
    margin-bottom: 10px;
}

main{
    max-width: 1200px;
    margin: 0;
    padding: 20px;
}

.card{
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0,0,0,0,2);
    margin-bottom: 20px;
}
.card .destaque{
    background: linear-gradient(135deg, #980054 0%, #ba79ff 100% );
}

h2{
    color: #61008c ;
    margin-bottom: 20px;
    font-size: 1.5rem;
}
.button-group{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
}

button{
    background: linear-gradient(135deg, #3c13e6 0%, #ba79ff 100%);
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease;

}

button:hover{
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(102, 126, 234, 0.4);
}

button:active{
    transform: translateY(0);
}
.btn-danger{
    background: linear-gradient(135deg, #ff1900 0%, #fd5542c2 100%);
}

.resultado{
    margin-top: 15px;
    padding: 15px;
    background: #f8f9fa;
    border-radius: 8px;
    border:  solid #2d4ac7;
    min-height: 50px;
}

.input-group{
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

input[type="text"]{
    flex: 1;
    padding: 12px;
    border: solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
}

input:focus{
    outline: none;
    border-color: #2d49c79a;
}

.info{
    background: #ffcfff;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 20px;
    color: #2a0029;
}